# Helm chart packages
*.tgz

# Temporary files
.cr-release-packages/
.cr-index/

# OS specific files
.DS_Store
Thumbs.db

# Editor files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Dependency directories
node_modules/
vendor/

# Build directories
dist/
build/
private/
output/
helmfile.lock
