# Install MetalLB first 0.13.7
# kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.13.7/config/manifests/metallb-native.yaml
# Dev Password export
# kubectl -n postgres-operator get secret hippo-dev-pguser-calltelemetry -o json  | jq 'del(.metadata["namespace","creationTimestamp","resourceVersion","selfLink","uid","ownerReferences", "managedFields"])'  | kubectl apply -n ct-dev -f -
hostname: 192.168.123.205
environment: dev
resources: {}
userid: 1001
# networking:
#   external_api_port: 80
#   external_sftp_port: 22
#   external_admin_port: 443
api:
  image: calltelemetry/web:0.8.3-rc26
  imagePullPolicy: IfNotPresent
  cpus: 2
  replicas: 0
  logging_level: warning
  container_ports:
    - name: curri-api
      port: 4080
  hostname: dev.calltelemetry.com

admin:
  image: calltelemetry/web:0.8.2-rc68
  imagePullPolicy: IfNotPresent
  replicas: 1
  cpus: 2
  logging_level: warning
  container_ports:
    - name: web-api
      port: 4000
    - name: curri-api
      port: 4080
  hostname: dev.calltelemetry.com
  api_worker: true 

traceroute:
  image: calltelemetry/traceroute:0.7.2
  imagePullPolicy: IfNotPresent
  cpus: 1
  logging_level: info
  replicas: 0

sftp:
  image: calltelemetry/sftp:0.6.8
  pullPolicy: IfNotPresent
  cpus: 1
  logging_level: info
cdr_root_path: "/tmp"
db:
  useSecret: false  # Set to false to use direct values
  secretName: calltelemetry-db-secret
  values:
    db_username: postgres
    db_password: calltelemetry
    db_name: calltelemetry_prod
    db_hostname: ctsql.pgo.svc.cluster.local
    db_port: "5432"
    db_ssl_enabled: "true"
logging_level: debug
nats_server: "nats"
