apiVersion: v1
kind: Service
metadata:
  name: admin-internal-service
  labels:
    app: admin-internal-service
spec:
  type: ClusterIP
  selector:
    app: admin-service
  ports:
    - port: 4000
      targetPort: 4000
      protocol: TCP
      name: http
