{{- if and .Values.admin_api.createLoadBalancer .Values.admin_api.advertiseL2MetalLb }}
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: admin-ip
  namespace: {{ .Release.Namespace }}
spec:
  addresses:
  - {{ .Values.admin_api.ip }}/32
  autoAssign: false
status: {}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: admin-l2-advert
  namespace: {{ .Release.Namespace }}
spec:
  ipAddressPools:
  - admin-ip
{{- end }}
