apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-ingress
  namespace: {{ .Release.Namespace }}
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .Values.api.hostname }}
      http:
        paths:
        - path: /api/policy
          pathType: Prefix
          backend:
            service:
              name: curri-api-service
              port:
                number: 4080
